<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" th:href="@{/icon/favicon.png}">
    <title>Gestion des Commandes</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>

    <!-- My own files css for style.css and the rest is handled by bootswatch
    and script.js for the search option in the select option in the formulaire of ajout commande   -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script rel="stylesheet" th:href="@{/js/script.js}"></script>
</head>

<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">GESTION DES COMMANDES</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<body>
<div class="flex">
    <!-- List of Products (left) -->
    <div class="left">
        <h4>Liste des Produits</h4>
        <div class="scrollable-table-container">
            <table class="table table-hover table-primary text-center">
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Type</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="produit : ${produits}">
                    <td th:text="${produit.nom}"></td>
                    <td th:text="${produit.prix}"></td>
                    <td th:text="${produit.type}"></td>
                    <td>
                        <div>
                            <a th:href="@{'/details/' + ${produit.id}}" class="btn btn-link p-0 m-0">
                                <img width="48" height="48" src="https://img.icons8.com/color/48/shopping-cart--v1.png"
                                     alt="shopping-cart--v1"/>
                            </a>
                            <a th:href="@{'/editProduit/' + ${produit.id}}" class="btn btn-link p-0 m-0">
                                <img width="30" height="30" src="https://img.icons8.com/sf-black-filled/64/edit.png"
                                     alt="edit"/>
                            </a>
                            <a th:href="@{'/deleteProduit/' + ${produit.id}}" class="btn btn-link p-0 m-0">
                                <img width="30" height="30"
                                     src="https://img.icons8.com/ios-glyphs/30/FA5252/filled-trash.png"
                                     alt="filled-trash"/>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Center (Forms) -->
    <div class="center accordion">
        <h4>Formulaires d'édition</h4>
        <!-- Add Product Form -->
        <div class="card w-100">
            <div class="card-header ">
                <a class="btn btn-link text-white text-decoration-none"
                   data-bs-toggle="collapse" href="#addProductForm"
                   role="button" th:attr="aria-expanded=${showproduit}"
                   aria-controls="addProductForm">
                    Ajouter Produit
                </a>
            </div>
            <div id="addProductForm"
                 class="collapse"
                 th:classappend="${showproduit} ? 'show' : ''">
                <div class="card-body bg-primary text-white">
                    <form method="post" th:action="@{/saveProduit}">
                        <input type="number" th:field="*{produit.id}" hidden="hidden">
                        <label>Nom</label>
                        <input type="text" th:field="*{produit.nom}" name="nom" placeholder="Nom">
                        <label>Prix</label>
                        <input type="text" th:field="*{produit.prix}" name="prix" placeholder="Prix">
                        <label>Type</label>
                        <select name="type" th:field="*{produit.type}">
                            <option th:each="type : ${T(ma.commande.microservicewebapp.model.TypeProduit).values()}"
                                    th:value="${type}" th:text="${type}"></option>
                        </select>
                        <button class="btn btn-outline-success" type="submit">Valider</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Add Commande Form -->
        <div class="card w-100">
            <div class="card-header">
                <a class="btn btn-link text-white text-decoration-none" data-bs-toggle="collapse"
                   href="#addCommandeForm" role="button"
                   th:attr="aria-expanded=${showcommande}"
                   aria-controls="addCommandeForm">
                    Ajouter Commande
                </a>
            </div>
            <div id="addCommandeForm" class="collapse"
            th:classappend="${showcommande} ? 'show' : ''">
                <div class="card-body bg-primary text-white">
                    <form method="post" th:action="@{/saveCommande}">
                        <input type="number" th:field="*{commande.id}" hidden="hidden">
                        <label>Description</label>
                        <input type="text" th:field="*{commande.description}" name="description"
                               placeholder="Description">
                        <label>Quantité</label>
                        <input type="text" th:field="*{commande.quantite}" name="quantite" placeholder="Quantité">
                        <label>Date</label>
                        <input type="text" th:field="*{commande.date}" name="date" placeholder="Date">
                        <label>Montant</label>
                        <input type="text" th:field="*{commande.montant}" name="montant" placeholder="Montant">
                        <label>De quel produit s'agit t'il ?</label>
                        <select name="idProduit" th:field="*{commande.idProduit}">
                            <option th:each="produit : ${produits}" th:value="${produit.id}"
                                    th:text="${produit.nom}"></option>
                        </select>
                        <button class="btn btn-outline-success" type="submit">Valider</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- List of Commandes (right) -->
    <div class="right">
        <h4>Liste des Commandes</h4>
        <div class="scrollable-table-container">
            <table class="table table-hover table-success text-center">
                <thead>
                <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Date</th>
                    <th scope="col">Montant</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="commande : ${commandes}">
                    <td th:text="${commande.description}"></td>
                    <td th:text="${commande.quantite}"></td>
                    <td th:text="${commande.date}"></td>
                    <td th:text="${commande.montant}"></td>
                    <td>
                        <a th:href="@{'/editCommande/' + ${commande.id}}" class="btn btn-link p-0 m-0">
                            <img width="30" height="30" src="https://img.icons8.com/sf-black-filled/64/edit.png"
                                 alt="edit"/>
                        </a>
                        <a th:href="@{'/deleteCommande/' + ${commande.id}}" class="btn btn-link p-0 m-0">
                            <img width="30" height="30"
                                 src="https://img.icons8.com/ios-glyphs/30/FA5252/filled-trash.png" alt="filled-trash"/>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
